.element {
  background-color: #ffffff;
  color: black;
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 4%;
}
.element__image {
  max-width: 100%;
  margin: auto;
}

.element__paragraph {
  max-width: 246px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px auto 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__paragraph-title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__button {
  background-color: transparent;
  border: none;
  width: min-content;
  height: min-content;
  align-self: flex-end;
  cursor: pointer;
}
.element__like {
  display: block;
  height: 19px;
  width: 21px;
}
.element__like:hover {
  opacity: 50%;
}
@media screen and (max-width: 960px) {
  .element {
    width: 363px;
  }
  .element__image {
    width: 100%;
  }
  .element__paragraph {
    max-width: 320px;
  }
}
@media screen and (max-width: 600px) {
  .element {
    width: 282px;
  }
  .element__paragraph {
    max-width: 246px;
  }
}
