.profile {
  max-width: 100%;
  margin: 0 auto 50px;
  display: flex;
}
.profile__avatar {
  margin: 0;
  max-width: 120px;
}
.profile__image {
  max-width: 100%;
  margin: 0;
  display: block;
  grid-area: image;
  height: 100%;
  border-radius: 60%;
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 18px;
  grid-area: info;
  margin-top: 22px;
  margin-bottom: 21px;
  margin-left: 30px;
  margin-right: 165px;
}
.profile__info-name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
}
.profile__button-edit {
  display: block;
  height: max-content;
  width: min-content;
  border: 1px solid #ffffff;
  background-color: black;
  margin-top: 15px;
  margin-bottom: 0;
}
.profile__button-edit:hover {
  opacity: 50%;
}
.profile__button-edit-icon {
  width: 10px;
  height: 10px;
}

.profile__info-job {
  margin: 0;
}
.profile__button-add {
  display: block;
  max-width: 150px;
  max-height: 50px;
  border: 2px solid #ffffff;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: black;

  grid-area: button;
}
.profile__button-add:hover {
  opacity: 60%;
}
.profile__button-add-icon {
  padding: 14px 64px;
  border-radius: 22px;
  margin: auto;
  max-width: 100%;
}
@media screen and (max-width: 960px) {
  .profile__info {
    margin-bottom: 22px;
    margin-top: 0;
  }
  .profile__info-name {
    font-size: 28px;
    line-height: 38px;
  }
  .profile__button-edit {
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .profile {
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 26.25px;
    align-content: center;
    grid-template-areas:
      "image"
      "info"
      "button";
  }
  .profile__avatar {
    margin: auto;
  }
  .profile__info {
    max-width: 282px;
    margin: 0 auto;
    margin-bottom: 0;
    justify-content: center;
    gap: 14px 15.25px;
  }
  .profile__button-edit {
    margin-top: 4px;
  }
  .profile__button-edit-icon {
    width: 7.5px;
    height: 7.5px;
  }
  .profile__info-name {
    font-size: 22px;
    line-height: 26.63px;
  }
  .profile__button-add {
    min-width: 282px;
    margin: 9.75px auto 0;
  }
  .profile__add-icon {
    border-radius: 16px;
    margin: auto;
    padding: 14px 0;
  }
}
